<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>



<div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" width="100%" height="200px">
            </div>
            <div class="carousel-item">
                <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" width="100%" height="200px">
            </div>
            <div class="carousel-item">
                <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" width="100%" height="200px">
            </div>
        </div>
</div>

<abbr>
<div class="container">

    <div class="row">
        <div class="topGap"></div>
        <div class="col-sm-4">
            <div class="golf">
                <div class="photo"><img src="http://static.runoob.com/images/mix/cinqueterre.jpg" width="100" height="100"></div>
                <div class="intro">
                    <label>高尔夫球运动是一项健康、绿色、快乐、回归自然的体育运动</label>
                </div>
            </div>
        </div>
        <div class="gap"></div>

    </div>

    <div class="row">
        <div class="topGap"></div>
        <div class="col-sm-4">
            <div class="golf">
                <div class="photo"><img src="http://static.runoob.com/images/mix/cinqueterre.jpg" width="100" height="100"></div>
                <div class="intro">
                    <p>高尔夫球运动是一项健康、绿色、快乐、回归自然的体育运动</p>
                </div>
            </div>
        </div>
        <div class="gap"></div>

    </div>

    <div class="row">
        <div class="topGap"></div>
        <div class="col-sm-4">
            <div class="golf">
                <div class="photo"><img src="http://static.runoob.com/images/mix/cinqueterre.jpg" width="100" height="100"></div>
                <div class="intro">
                    <p>高尔夫球运动是一项健康、绿色、快乐、回归自然的体育运动</p>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>

    <div class="row">
        <div class="topGap"></div>
        <div class="col-sm-4">
            <div class="golf">
                <div class="photo"><img src="http://static.runoob.com/images/mix/cinqueterre.jpg" width="100" height="100"></div>
                <div class="intro">
                    <p>高尔夫球运动是一项健康、绿色、快乐、回归自然的体育运动</p>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>

</body>



<style>
    .photo{
        float:left;
        width:20%;
    }
    .intro {
        float: right;
        width: 60%;
    }
    .gap{
        color: #5a6268;
        height: 20px;
        width: 100%;
    }
    .topGap{
        color: #9fcdff;
        height: 20px;
        width: 100%;
    }
</style>

</html>